<p>cart works!</p>
<div class="container">
  <h3>cartItems ({{ (cart.length) }})</h3>
   <table class="table" style="width: 16rm;">
       
    <tr *ngFor="let product of cart">
        <td><img src="{{_imgurl+product.image}}" class="card-img-top" width="100" height="100"  alt=".."></td>
      <td>{{ product.productName }}</td>
      <td>{{ product.unit }}</td>
      <td>{{ product.mrp*70| currency:'INR'  }}</td>
      <td><i class="fas fa-trash-alt"></i></td>
      
    </tr>
    </table>
</div>

